.row
  .col-md-4.mx-auto.mt-5.col.col-sm-6.col-xs-12
    .card.p-3
      %h6.text-center Add new Payment Method
      %hr
      = form_for(payment_method, url: admin_settings_payment_methods_path) do |f|
        .form-group
          = f.label :name
          = f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control'
        .form-group
          = f.label :description
          = f.text_field :description, autofocus: true, autocomplete: 'description', class: 'form-control'
        .form-group
          = f.label :provider
          = f.select :provider, ['Stripe::Order','Razorpay::Order', 'CashOnDelivery::Order'], {}, class: 'form-control'
        %b Active
        .form-group
          = f.radio_button :active, 'true'
          Yes
          %br/
          = f.radio_button :active, 'false'
          No
          %br/
        .actions
          = f.submit 'Submit', class: 'btn btn-primary btn-block'
