= link_to admin_categories_path, class: 'btn btn-danger btn-sm' do
  %span{'data-feather' => 'arrow-left-circle'}
%h1.text-center Edit Category
%br/
%br/
.row
  .col-md-4.mx-auto.mt-5.col.col-sm-6.col-xs-12
    .card.p-3
      %h6.text-center Category
      %hr
      = form_for(@category, url: admin_category_path(@category)) do |f|
        .form-group
          = f.label :name
          = f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control'
        .form-group
          = f.label :image
          = f.file_field :image, autocomplete: 'off', class: 'form-control'
          %br
          - if @category.image.attached?
            = image_tag @category.image, class: "img-thumbnail"
          - else
            = 'No image'
        .actions
          = f.submit 'Submit', class: 'btn btn-danger btn-block'