= link_to admin_products_path(@product), class: 'btn btn-danger btn-sm' do
  %span{'data-feather' => 'arrow-left-circle'}
%br/
%br/
.row
  .col-md-4.mx-auto.mt-5.col.col-sm-6.col-xs-12
    .card.p-3
      %h6.text-center Create new Product
      %hr
      = form_for(product, url: admin_products_path) do |f|
        .form-group
          = f.label :category
          = f.select :category_id, Category.all.collect { |category| [category.title, category.id]}, class: 'form-control'
        .form-group
          = f.label :name
          = f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control'
        .form-group
          = f.label :description
          = f.text_field :description, autofocus: true, autocomplete: 'email', class: 'form-control'

        .form-group
          = f.label :slug
          = f.text_field :slug, autocomplete: 'off', class: 'form-control'
        .form-group
          = f.label :price
          = f.number_field :price, autocomplete: 'off', class: 'form-control'
        .actions
          = f.submit 'Submit', class: 'btn btn-danger btn-block'
      .py-2
