.row
  .col-md-4.mx-auto.mt-5.col.col-sm-6.col-xs-12
    .card.p-3
      %h6.text-center Sign up for Mini Shop
      %hr
      = form_for(user, url: admin_users_path(:id => user.id)) do |f|
        .form-group
          = f.label :name
          = f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control'
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'

        .form-group
          = f.label :password
          = f.password_field :password, autocomplete: "off", class: 'form-control'
        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
        .form-check
          = f.check_box :admin, class: 'form-check-input'
          = f.label :admin
        .actions
          = f.submit "Submit", class: 'btn btn-danger btn-block'
      .py-2