.row
  .col-8
    %h3 List of Users
.row
  .col-12
    .action-bar
      = link_to new_admin_user_path, class: 'btn btn-danger btn-sm' do
        %span{'data-feather' => 'user-plus'}

.row
  .col-12
    .py-3
      %form.form-inline.my-2.my-lg-0{:action => root_path}
        %input.form-control.form-control-sm.m-1.mr-sm-2{"aria-label" => "Search", name: "q", :placeholder => "Name or Email", :type => "search"}/
        %button.btn.btn-danger.btn-sm.mx-2.my-2.my-sm-0{type: 'submit'} Search
      %br/
      - if @users.blank?
        %p
          %b No donors found
        %p Add a user by clicking the above button or upload a file of user.
      - else
        %table.table.table-striped.table-sm.table-bordered.table-responsive-sm
          %thead
            %tr
              %th Name
              %th Email
              %th Admin
              %th Actions
          %tbody
            - @users.each do |user|
              %tr
                %td
                  = link_to user.name, admin_user_path(:id => user.id)
                %td= user.email
                %td= user.admin
                %td
                  %span>
                    = link_to edit_admin_user_path(:id => user.id), class: 'nav-link' do
                      %span{'data-feather' => 'edit'}