.row.no-gutters
  .col-12
    .px-2
      %h4 Customers
.row.no-gutters
  .col-12
    .action-bar
      = link_to new_admin_user_path, class: 'btn btn-primary btn-sm' do
        %span{'data-feather' => 'user-plus'}
        Create Customer
.row.no-gutters
  .col-12
    .py-3
      %form.form-inline.my-2.my-lg-0{action: search_admin_users_path}
        %input.form-control.form-control-sm.m-1.mr-sm-2{'aria-label' => 'Search', name: 'q', placeholder: 'Name or Email', type: 'search'}/
        %button.btn.btn-primary.btn-sm.mx-2.my-2.my-sm-0{type: 'submit'} Search
      %br/
      - if @users.blank?
        %p
          %b No users found
        %p Add a user by clicking the above button.
      - else
        %table.table.table-striped.table-bordered
          %thead.bg-secondary.text-light
            %tr
              %th Name
              %th Email
              %th Admin?
              %th Actions
          %tbody
            - @users.each do |user|
              %tr
                %td
                  = link_to user.name, admin_user_path(user)
                %td= user.email
                %td= user.admin
                %td
                  %span>
                    = link_to edit_admin_user_path(user), class: 'nav-link' do
                      %span{'data-feather' => 'edit'}
        = pagy_bootstrap_nav(@pagy).html_safe
