


.row
  .col-12
    .action-bar
      = link_to edit_admin_user_path(@user), class: 'btn btn-danger btn-sm' do
        %span{'data-feather' => 'edit'}
      = link_to admin_user_path(@user), method: :delete, class: 'btn btn-danger btn-sm' do
        %span{'data-feather' => 'trash'}
      = link_to reset_password_admin_user_path, class: 'btn btn-danger btn-sm' do
        %span{'data-feather' => 'tool'}
        Reset password
.row
  .col-md-4.mx-auto.mt-5.col.col-sm-6.col-xs-12
    .card.p-3
      %h6.text-center User card
      %hr
        %p#notice= notice
        %p
          %strong Name:
          = @user.name
        %p
          %strong Email:
          = @user.email
        %p
          %strong  Admin:
          = @user.admin
        %p
          %strong  Last Signed in at:
          = @user.last_sign_in_at
        %p
          %strong  Sign_in count:
          = @user.sign_in_count
      .py-2