
= link_to admin_banner_items_path, class: 'btn btn-primary btn-sm' do
  %span{'data-feather' => 'arrow-left-circle'}
%h1.text-center Banner Item Info
%br/
%br/
.row
  .col-md-7.mx-auto.mt-5.col.col-sm-6.col-xs-12
    .card.p-3
      .row
        .col-12
          %h3.text-center Banner Item
          = link_to edit_admin_banner_item_path(@banner_item), class: 'btn btn-primary btn-sm mr-1' do
            %span{'data-feather' => 'edit'}
          = link_to admin_banner_item_path(@banner_item), method: :delete, class: 'btn btn-primary btn-sm mr-1' do
            %span{'data-feather' => 'trash'}
      %hr
        %p#notice= notice
        %dl.row
          %dt.col-sm-4 Title:
          %dd.col-sm-8
            = @banner_item.title
          %dt.col-sm-4 Image:
          %dd.col-sm-8
            = @banner_item.image_url
          %dt.col-sm-4 Web params:
          %dd.col-sm-8
            = @banner_item.web_params
          %dt.col-sm-4 Mobile params:
          %dd.col-sm-8
            = @banner_item.mobile_params
