= link_to admin_settings_shipping_methods_path, class: 'btn btn-primary btn-sm' do
  %span{'data-feather' => 'arrow-left-circle'}
%h1.text-center Edit Shipping Method
%br/
%br/
.row
  .col-12
    .action-bar
      = link_to admin_settings_shipping_method_path(@shipping_method), method: :delete, class: 'btn btn-primary btn-sm' do
        %span{'data-feather' => 'trash'}
.row
  .col-md-4.mx-auto.mt-5.col.col-sm-6.col-xs-12
    .card.p-3
      %h6.text-center Shipping method Info
      %hr
      = form_for(@shipping_method, url: admin_settings_shipping_method_path(@shipping_method)) do |f|
        .form-group
          = f.label :name
          = f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control'
        .form-group
          = f.label :code
          = f.text_field :code, autofocus: true, autocomplete: 'code', class: 'form-control'
        .form-group
          = f.label :value_type
          = f.select :value_type, ['flat_rate','flat_percent'], {},class: 'form-control'
        .form-group
          = f.label :value
          = f.number_field :value, step: :any, autofocus: true, autocomplete: 'value', class: 'form-control'
        .actions
          = f.submit 'Submit', class: 'btn btn-primary btn-block'
          = link_to admin_settings_shipping_methods_path, class: 'btn btn-danger btn-block' do
            %span Cancel
