= link_to                                                         admin_settings_shipping_methods_path, class: 'btn btn-primary btn-sm' do
  %span{'data-feather' => 'arrow-left-circle'}
%h1.text-center Shipping Method info
%br/
%br/
.row
  .col-12
    .action-bar
      = link_to admin_settings_shipping_method_path(@shipping_method), method: :delete, class: 'btn btn-primary btn-sm' do
        %span{'data-feather' => 'trash'}
.row
  .col-md-4.mx-auto.mt-5.col.col-sm-6.col-xs-12
    .card.p-3
      %h6.text-center Shipping Method
      %hr
        %p#notice= notice
        %dl.row
          %dt.col-sm-6 Name:
          %dd.col-sm-5
            = @shipping_method.name
          %dt.col-sm-6 Code:
          %dd.col-sm-5
            = @shipping_method.code
          %dt.col-sm-6 Value type:
          %dd.col-sm-5
            = @shipping_method.value_type
          %dt.col-sm-6 Value:
          %dd.col-sm-5
            = @shipping_method.value